@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-xs: clamp(0.3rem, 0.1vw + 0.3rem, 0.4rem);
    --font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    scroll-behavior: smooth;
  }

  body {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .radial {
    background: #061b30;
    background: radial-gradient(
      circle,
      rgba(6, 27, 48, 1) 0%,
      rgba(15, 80, 136, 1) 35%,
      rgba(5, 8, 70, 1) 100%
    );
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=0b6580&c2=020921&gt=r&gd=dcc
*/
    background: #0b6580;
    background: radial-gradient(at center, #0b6580, #020921);
  }
}
